*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}



.grow{
    background-color: #795548;
}

.container{
    background-color: #fff1dbc7;
   
}

.header{
    width: 95%;
    padding-top: 30px;
    padding-bottom: 30px;

}

.header h3{
    font-size: 17px;
    font-weight: 600;
    color: #795548;
}

.header ul{
    list-style: none;
}

.header ul li{
    margin-right: 30px;
}

.header ul li a{
    font-size: 13px;
    color: #c77253;
    padding: 10px;
    border-radius: 30px;
}
.header ul li a:hover{
    background-color: #795548;
}

@media(max-width:768px) {

    .header ul {
        display: none !important; 
    }
}

@media(min-width:768px) {
    .header .togle {
        display: none;
        background-color: #00000075;
    }
}

@media(max-width:768px) {

   .togle:hover ul {
        display:block !important; 
    }
}
.header i{
    color: #795548;
}

.header button{
    background-color: #fff1db78;
    border: 2px solid #795548;
}

button:hover{
    background-color: #795548;
}

.header button a{
    color: #c77253;
}
/* end header */

/* start home */
.home{
  padding-top: 60px;
  padding-bottom: 60px;
}

.home .text h3{
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #795548;
}

.home .text p{
   width: 80%;
}

.home img{
    width: 40%;
    border-radius: 50px;
}
/* end home */

/* start browse */
.browse{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.browse h3{
    font-weight: 700;
    color: #795548;
}

.browse p{
    color: #795548;
}

.imgs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.browse .imgs-container img{
    width:30% ;
    margin-top: 50px;
}

.browse button{
    border: 1px solid #795548;
    background-color: #fff;
    margin-top: 20px;
}

.browse button:hover{
    background-color: #795548;
}

.browse button a{
    color: #c77253;
}
/* end beowse */
/* start products */
 .products{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
 }

 .products h3{
    font-weight: 700;
    color: #795548;
 }
 .products .img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 80px;
 }

 @media(max-width:768px){
    .products .img-container{
        flex-wrap: wrap;
    }
 }
 .img-box{
   overflow: hidden;
   position: relative;
 }
 .products img{
    width: 70%;
    max-width: 100%;
 }
 .img-container p{
    color: #a8a8a8;
 }

 .img-container .img-box i{
    color: gold;
    margin-left: 10px;
 }

 .img-container .img-box h5,
 h6{
    color: #000000b3;
    font-weight: 700;
 }

 .products button{
    
        border: 1px solid #795548;
        background-color: #fff;
        margin-top: 20px;
    }
    
    .products button:hover{
        background-color: #795548;
    }
    
    .products  button a{
        color: #c77253;
    }
 
/* end products */

/* start offer */
.offer{
    background-color: #fff1dbc7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.offer img{
    width: 40%;
  margin-left: 50px;
}

@media(max-width:768px){
    .offer img{
width: 60%;
    margin-left: 100px;
    margin-bottom: 40px;
    }

    .offer p{
        margin-left: 20px;
    }
}
.offer h3{
    font-weight: 700;
    color: #795548;
}

.offer p{
    margin-left: 20px;
    font-size: 15px;
    color: #795548;
    line-height: 1;
}

.offer .num{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

.offer .num h6,
span{
    background-color: #fff;
    padding: 10px;
    color: #795548;
}

.offer .num span{
    font-size: 12px;
}
.offer button{
    
    border: 1px solid #795548;
    background-color: #795548;
    margin-top: 20px;
    padding: 10PX;
}

.offer  button a{
    color: #FFF;
}
/* end offer */

/* start feedback */
.feedback{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.feedback h3{
    font-weight: 700;
    color: #795548;
    margin-bottom: 70px;
}

.feedback .text{
    display: flex;
    
}

@media(max-width:768px){
    .feedback .text{
        flex-wrap: wrap;
    }
 }

.feedback p{
width: 90%;
}

.feedback i,
h6{
    color: #795548;
    font-size: 20px;
}

.feedback .text1{
    background-color:#957a4312;
    
}
@media(max-width:768px){
.feedback .text1{
    margin-bottom: 60px;
}
}

.feedback .text2{
    background-color: #fff1dbc7;
    margin-left: 30px;
}

@media(max-width:768px){
    .feedback .text2{
        margin-bottom: 60px;
        margin-left: 0;
    }
}
.feedback .text3{
    background-color: #957a4312;
    margin-left: 30px;
}

@media(max-width:768px){
    .feedback .text3{
        margin-left:0;
    }
}
/* end feedback */

/* start footer */
.footer{
    background-color: #795548;
    color: #fff1dbc7;
}
.footer h3{
    margin-left: 20px;
}
.footer ul{
    margin-top: 70px;
    list-style: none;
}
.footer ul  a{
    color: #fff1dbc7;
    text-decoration: none;
}

.footer ul a:hover{
    color: #c77253;
}

.footer form{
    margin-right: 20px;
}

.footer form input{
    background-color: #795548;
    border: 1px solid #fff1dbc7;
    padding: 5px;
    color: #fff1dbc7;
}

.footer form button{
    background-color: #fff1dbc7;
    color: #795548;
}
.logo {
    text-align: end;
    margin-right: 20px;
    font-size: 30px;
}
@media(max-width:768px){
    .cam{
        flex-wrap: wrap;
    }

    .footer ul{
        margin-right: 15px;
    }

    .footer input{
        margin-left: 20px;
    }
    
    .logo{
        font-size: 10px;
        margin-top: 20px;
    }
}

/* end footer */





/* start shop */
.shop-container{
    text-align: center;
    padding-top:60px ;
    padding-bottom: 60px;
}

.shop-container h3{
    color: #795548;
    font-weight: 700;
    padding-bottom: 30px;
}

.shop-container .img-container{
    padding-bottom: 40px;
}
.shop-container .img-container .img-box img{
  width: 80%;
}

.shop-container .img-container .img-box h4{
    color: #795548;
    font-weight: 600;
    font-size: 20px;
}

.shop-container .img-container .img-box p{
    color: #c77253;
    font-size: 15px;
    line-height: 1.5;
}
.shop-container .img-container .img-box h5,
h6{
    color: #795548;
    font-size: 15px;
}

.shop-container .img-container .img-box i{
    margin-left: 5px;
}

.shop-container button{
    color: #c77253;
    border: 2px solid #795548;
    border-radius: 20px;
    background-color: #fff1dbc7;
}

.shop-container button:hover{
    background-color: #795548;
}
@media(max-width:768px){
    .shop-container .img-container{
        flex-wrap: wrap;
    }

 }

 @media(max-width:768px){
    .shop-container h4{
        font-size:30px ;
        margin-top: 15px;
    }
 }
/* end shop */


/* start features */
.min{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    background-color: #795548;
}


.min h3{
   color: #fff1dbc7;
   font-size: 50px;
}


.min .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:768px){
    .min .box{
        flex-wrap: wrap;
    }
}
    /* color: #fff1dbc7;
    font-size: 35px;
} */


.min .text h6 i{
    margin-left: 15px;
    font-size: 25px;
}

.min p{
    color: #fff1dbc7;
    font-size: 25px;
    width: 90%;
}

.min .text p i{
    margin-left:15px ;
}

.min img{
    width: 40%;
    margin-top: 30px;
}










.start{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title{
     margin-right: 30%;
    margin-left: 30%; 
    margin-bottom: 30px;
}
.start h1{
    color: #fff1dbc7;
    background-color: #795548;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 200%;
    font-size: 37px;
    box-shadow: 7px 7px #836357bf
}

.box-img{
    display: flex;
   
}
.start img{
    width: 30%;
    margin-left: 27px;
    margin-bottom: 30px;
}

.dvi h3{
    text-align: right;
    font-size: 40px;
    color: #795548;
}

.dvi .img-container{
    display: flex;
    justify-content: space-between;
    background-color: #795548;
}

/* @media(max-width:768px){
    .dvi .img-container{
        flex-wrap: wrap;
    }
}
@media(min-width:991px){
    .dvi .img-container img{
        width: 70%;
    }
} */

.dvi .img-container img{
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom:  40px;
}
/* end features */